@charset "UTF-8";
@import "Compass";
@import "breakpoint";
@import "basic";
$yellow: #ffeb00;
$yellow-dark: #fdd23e;
$yellow-light: #fde0a5;
$yellow-darken: #f6ac2d;
* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $yellow;
    @include background-image(linear-gradient(top, $yellow 0%, $yellow-dark 50%, $yellow-light 100%));
}

svg {
    display: block;
}

.svg-animation {
    position: relative;
    width: 60%;
    z-index: 2;
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        padding-top: 100%;
        @include background-image(radial-gradient(center, ellipse cover, $yellow-darken 0%, rgba($yellow-darken, 0) 50%));
        @include translate(-50%, -50%);
        z-index: -1;
    }
}

.mask {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    @include opacity(0.8);
    overflow: hidden;
    svg {
        position: absolute;
        height: 100%;
    }
    &.mask--head-1 {
        left: 0;
        @include animation(width100 1s 1 linear alternate forwards);
        svg {
            top: 0;
            bottom: 0;
            left: 0;
        }
    }
    &.mask--head-2 {
        right: 0;
        @include animation(width100 0.7s 1 linear alternate forwards);
        svg {
            top: 0;
            bottom: 0;
            right: 0;
        }
    }
    &.mask--tail {
        right: 0;
        @include animation(width100 0.5s 1 linear alternate forwards);
        svg {
            top: 0;
            bottom: 0;
            right: 0;
        }
    }
    &.mask__group--1 {
        &.mask--head-1 {
            @include animation-delay(500ms);
        }
        &.mask--head-2 {
            @include animation-delay(1254ms);
        }
        &.mask--tail {
            @include animation-delay(1515ms);
        }
    }
    &.mask__group--2 {
        &.mask--head-1 {
            @include animation-delay(500ms);
        }
        &.mask--head-2 {
            @include animation-delay(1245ms);
        }
        &.mask--tail {
            @include animation-delay(1480ms);
        }
    }
    &.mask__group--3 {
        &.mask--head-1 {
            @include animation-delay(500ms);
        }
        &.mask--head-2 {
            @include animation-delay(1286ms);
        }
        &.mask--tail {
            @include animation-delay(1472ms);
        }
    }
    &.mask__group--4 {
        &.mask--head-1 {
            @include animation-delay(500ms);
        }
        &.mask--head-2 {
            @include animation-delay(1294ms);
        }
        &.mask--tail {
            @include animation-delay(1471ms);
        }
    }
    &.mask__group--5 {
        &.mask--head-1 {
            @include animation-delay(500ms);
        }
        &.mask--head-2 {
            @include animation-delay(1320ms);
        }
        &.mask--tail {
            @include animation-delay(1570ms);
        }
    }
}

.main__text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    @include opacity(0);
    @include animation(opacity 0.5s 2s 1 linear alternate forwards);
}

@include keyframes(width100) {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@include keyframes(opacity) {
    0% {
        @include opacity(0);
    }
    100% {
        @include opacity(1);
    }
}

.main__line path {
    fill: white
}