.text-center {
    text-align: center;
}

.font-48 {
    font-size: 48px;
}

.font-36 {
    font-size: 36px;
}

.font-30 {
    font-size: 30px;
}

.font-28 {
    font-size: 28px;
}

.font-22 {
    font-size: 22px;
}

.font-18 {
    font-size: 18px;
}

.font-weight-400 {
    font-weight: 400;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-700 {
    font-weight: 700;
}