$yellow: #ffea04;
$yellow-dark: #fdd23e;
$yellow-light: #fde0a5;
$yellow-darken: #f6ac2d;

$black: #171717 !default;
$dark: #394148 !default;
$gray-100: #d8d8d8 !default;
$gray-200: #b8b8b8 !default;
$gray-300: #a0a0a0 !default;
$gray: #fafafa !default;
$white: #fff !default;

$container: 1110px;

$icomoon-font-family: "cwef" !default;
$icomoon-font-path: "../fonts" !default;

$icon-x: "\e902";
$icon-check: "\e903";
$icon-arrow-right: "\e901";
$icon-arrow-left: "\e900";