@charset "UTF-8";
@import "Compass";
@import "breakpoint";
@import "_normalize";
@import "_basic";
@import "_variable";
@import "_icon";
@import "_font";
@import "_mixin";
@import "_container";
@import "_embed";
header {
    position: fixed;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $yellow;
    z-index: 10;
    .container {
        position: relative;
    }
    a.logo {
        display: block;
        img {
            display: block;
            height: 40px;
        }
    }
    .hamburger {
        position: absolute;
        top: 50%;
        right: 20px;
        @include translateY(-50%);
        z-index: 5;
        @include breakpoint(1024px) {
            display: none;
        }
        span {
            display: block;
            width: 30px;
            height: 3px;
            margin: 8px 0;
            background-color: $black;
        }
        &.active {
            span {
                background-color: $white;
                &:first-child {
                    @include transform(rotate(45deg) translate(4px, 4px));
                }
                &:last-child {
                    @include transform(rotate(-45deg) translate(4px, -4px));
                }
                &:nth-child(2) {
                    display: none;
                }
            }
        }
    }
}

nav {
    position: absolute;
    top: 50%;
    right: 20px;
    @include translateY(-50%);
    @include breakpoint(1024px) {
        display: block !important;
    }
    @include breakpoint(max-width 1023px) {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 60px 20px;
        font-weight: normal;
        background-color: rgba($black, 0.9);
        @include transform(none);
    }
    ul {
        @include list-reset(0, 0, none);
        font-size: 0;
        li {
            @include breakpoint(1024px) {
                display: inline-block;
            }
            &:last-child {
                @include breakpoint(1024px) {
                    margin-left: 15px;
                }
                @include breakpoint(max-width 1023px) {
                    margin-top: 20px;
                }
            }
            a {
                display: block;
                padding: 15px;
                color: $white;
                font-size: 1rem;
                @include breakpoint(1024px) {
                    color: $black;
                }
                &.btn {
                    @include btn-outlined(0.7em 1.25em, $black, $white, 0.8);
                    @include breakpoint(max-width 1023px) {
                        display: block;
                        padding: 15px;
                        background-color: rgba($white, 1);
                        text-align: center;
                    }
                }
            }
        }
    }
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $yellow-dark;
}

.slider__navi {
    position: absolute;
    font-size: 2.5rem;
    cursor: pointer;
    z-index: 5;
}

section {
    padding-top: 50px;
    // padding-bottom: 100px;
    @include breakpoint(1024px) {
        padding-top: 100px;
    }
    &.opening {
        position: relative;
        padding-top: 60px;
        .slider--text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            width: 100%;
            padding-top: 60px;
            z-index: 1;
            @include breakpoint(max-width 1023px) {
                padding-left: 35px;
                padding-right: 35px;
                padding-bottom: 60px;
                @include background-image(linear-gradient(top, $yellow 20%, $yellow-dark 50%, $yellow-light 100%));
            }
            @include breakpoint(1024px) {
                position: absolute;
                top: 0;
                left: 0;
                width: 60%;
                height: 100%;
                padding-left: 50px;
            }
            @include breakpoint(1200px) {
                padding-left: calc(((100% - 1110px) / 2) + 20px);
            }
            // &::before {
            //     @include beforeafter('', block);
            //     position: absolute;
            //     top: 0;
            //     left: 0;
            //     right: 0;
            //     bottom: 0;
            //     background-image: url('../images/op-radius.svg');
            //     background-position: right center;
            //     background-repeat: no-repeat;
            //     @include background-size(cover);
            //     z-index: -1;
            //     @include breakpoint(max-width 1023px) {
            //         display: none;
            //     }
            // }
            .slider-text-bg {
                position: absolute;
                top: 0;
                right: 0;
                width: auto;
                height: 100%;
                z-index: -1;
                @include breakpoint(max-width 1023px) {
                    display: none;
                }
            }
            >* {
                position: relative;
                z-index: 1;
            }
            .h2 {
                margin-bottom: 25px;
                font-size: 1rem;
                @include breakpoint(1024px) {
                    font-size: 1.125rem;
                }
            }
            h1 {
                margin-top: 0;
                margin-bottom: 0;
            }
            .time {
                @include breakpoint(1024px) {
                    margin-top: -15px;
                }
            }
            .time,
            .place {
                font-size: 1.125rem;
                span {
                    font-size: 1.5rem;
                }
                @include breakpoint(1024px) {
                    font-size: 22px;
                    span {
                        font-size: 32px;
                    }
                }
            }
            a.btn {
                @include btn-outlined(1em 2.3em, $black, $white, 0.8);
                @include breakpoint(1024px) {
                    padding: 1.3em 2.625em;
                    margin-top: 30px;
                }
                @include breakpoint(max-width 374px) {
                    margin-top: 20px;
                }
            }
            .detail {
                width: 100%;
                @include breakpoint(max-width 1023px) {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 35px;
                }
            }
        }
        .slider--opening {
            font-size: 0;
            @include breakpoint(1024px) {
                padding-left: 38%;
            }
            .img-responsive {
                position: relative;
                width: 100%;
                @include breakpoint(1024px) {
                    height: 90vh;
                }
                img {
                    display: block;
                    @include breakpoint(1024px) {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
    &.about {
        padding-bottom: 50px;
        @include breakpoint(1024px) {
            padding-bottom: 100px;
        }
    }
    &.tips {
        position: relative;
        padding-top: 40px;
        padding-bottom: 20px;
        background-image: url('../images/about-bg.jpg');
        background-repeat: no-repeat;
        background-position: center;
        @include background-size(cover);
        @include breakpoint(1024px) {
            padding-top: 80px;
        }
        &::before {
            @include beforeafter('',
            block);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $black;
            @include opacity(0.4);
        }
        .container {
            position: relative;
            z-index: 1;
            @include breakpoint(760px) {
                width: 720px;
            }
        }
        .font-30 {
            margin-bottom: 20px;
            color: $white;
            @include breakpoint(1024px) {
                margin-bottom: 30px;
            }
        }
        .circle-card {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            padding-bottom: 40px;
            @include breakpoint(1024px) {
                padding-bottom: 60px;
                justify-content: space-between;
            }
            .card-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                width: 200px;
                height: 200px;
                padding-top: 3rem;
                padding-left: 30px;
                padding-right: 30px;
                background-color: $white;
                @include border-radius(50%);
                &.justify-center {
                    padding-top: 0;
                    justify-content: center;
                }
                +.card-item {
                    @include breakpoint(max-width 1023px) {
                        margin-top: 20px;
                    }
                }
            }
            .card-title {
                margin-bottom: 5px;
                color: $yellow-darken;
                line-height: 1.2;
            }
            .card-text {
                line-height: 1.5;
                span {
                    display: block;
                }
            }
        }
    }
    &.trend {
        padding-bottom: 60px;
    }
    &.agenda {
        padding-bottom: 100px;
        background-color: rgba($yellow-light, 0.1);
    }
    &.file {
        padding-bottom: 20px;
        .online-group {
            @include breakpoint(1024px) {
                display: flex;
            }
        }
        .online {
            position: relative;
            overflow: hidden;
            @include breakpoint(max-width 1023px) {
                width: calc(100% + 40px);
                height: 520px;
                margin-left: -20px;
                margin-right: -20px;
            }
            @include breakpoint(1024px) {
                width: 860px;
            }
            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: calc(100% + 30px);
            }
        }
        .logo-list {
            width: 100%;
            @include breakpoint(max-width 1023px) {
                padding-top: 20px;
                text-align: center;
            }
            @include breakpoint(1024px) {
                width: 210px;
                padding-left: 60px;
            }
            .h2 {
                margin-bottom: 15px;
                @include breakpoint(1024px) {
                    margin-top: 40px;
                }
                @include breakpoint(max-width 1023px) {
                    text-align: left;
                }
            }
            a.btn {
                @include btn-contained(0.89em 2.175em,
                $black,
                $yellow-dark,
                1);
                @include breakpoint(1024px) {
                    display: block;
                    padding: 0.89em 1em;
                    text-align: center;
                }
                @include breakpoint(max-width 1023px) {
                    margin-bottom: 20px;
                }
            }
            .img-group {
                @include breakpoint(max-width 1023px) {
                    font-size: 0;
                    text-align: left;
                }
                li {
                    @include breakpoint(1024px) {
                        margin-bottom: 15px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                    @include breakpoint(max-width 1023px) {
                        display: inline-block;
                        vertical-align: middle;
                        width: calc(50% - 10px);
                        margin-right: 20px;
                        margin-bottom: 20px;
                        &:nth-child(2n) {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
    &.map {
        display: flex;
        flex-wrap: wrap;
        padding-top: 20px;
        @include breakpoint(1024px) {
            padding-top: 60px;
        }
        @include breakpoint(max-width 1023px) {
            flex-direction: column-reverse;
        }
        >* {
            width: 100%;
            @include breakpoint(1024px) {
                width: 50%;
            }
        }
        >div {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 20px;
            padding-right: 20px;
            background-color: $yellow-darken;
            @include breakpoint(1024px) {
                padding-top: 20px;
                padding-bottom: 30px;
                padding-left: 50px;
                padding-right: 50px;
            }
            @include breakpoint(1200px) {
                padding-left: calc(((100% - 1110px) / 2) + 20px);
            }
        }
        .map {
            @include breakpoint(max-width 1023px) {
                height: 300px;
            }
        }
        .h2 {
            margin-top: 40px;
            margin-bottom: 10px;
            color: $white;
        }
        .label {
            display: inline-block;
            padding-bottom: 5px;
            border-bottom: 2px solid $black;
        }
        p {
            margin-top: 10px;
            margin-bottom: 30px;
        }
    }
    &.sponsor {
        padding-bottom: 20px;
        @include breakpoint(1024px) {
            padding-bottom: 100px;
        }
    }
    .slider--opening {
        .slider__navi {
            bottom: 10px;
            color: $white;
            @include breakpoint(1024px) {
                bottom: 40px;
            }
            &.slider__navi--prev {
                @include breakpoint(max-width 1023px) {
                    left: 20px;
                }
                @include breakpoint(1024px) {
                    right: 130px;
                }
            }
            &.slider__navi--next {
                @include breakpoint(max-width 1023px) {
                    right: 20px;
                }
                @include breakpoint(1024px) {
                    right: 60px;
                }
            }
        }
    }
    .col-8 {
        width: 100%;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        &.col-text-18 {
            font-size: 1.125rem;
        }
    }
    .slider--intro {
        width: calc(100% - 80px);
        @include breakpoint(1024px) {
            width: 100%;
        }
        .slider__navi {
            top: 50%;
            color: $black;
            line-height: 0;
            @include translateY(-50%);
            @include transition(opacity 0.3s);
            &.slider__navi--prev {
                left: -50px;
                @include breakpoint(1024px) {
                    left: -85px;
                }
            }
            &.slider__navi--next {
                right: -50px;
                @include breakpoint(1024px) {
                    right: -85px;
                }
            }
            &.slick-disabled {
                @include opacity(0.25);
                cursor: not-allowed;
            }
        }
    }
    .section-title {
        position: relative;
        margin-bottom: 30px;
        @include breakpoint(1024px) {
            margin-bottom: 50px;
        }
        &::before {
            position: absolute;
            @include beforeafter('',
            block);
            position: absolute;
            top: -10px;
            left: -165px;
            width: 362px;
            height: 104px;
            background-image: url('../images/main-title-decoration.svg');
            background-repeat: no-repeat;
            background-position: center;
            @include background-size(contain);
            z-index: -1;
            @include breakpoint(max-width 1023px) {
                @include opacity(0.5);
            }
            @include breakpoint(1024px) {
                top: 0;
                height: 134px;
            }
        }
        .title-zh {
            font-size: 30px;
            @include breakpoint(1024px) {
                font-size: 50px;
            }
        }
        .title-en {
            font-size: 22px;
            @include breakpoint(1024px) {
                font-size: 24px;
            }
        }
    }
}

.title__animation {
    position: relative;
    width: 116%;
    margin-left: -16%;
    z-index: 2;
    @include breakpoint(1024px) {
        width: 92.85%;
        margin-left: -11.5%;
    }
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        padding-top: 100%;
        @include background-image(radial-gradient(center,
        ellipse cover,
        $yellow-darken 0%,
        rgba($yellow-darken, 0) 50%));
        @include translate(-50%,
        -50%);
        z-index: -1;
    }
    .mask__group {
        @include opacity(0.8);
        @include animation(mask_group 0.5s 4s 1 linear alternate forwards);
        .mask__action {
            &.mask--head-1 {
                left: 0;
                @include animation(width100 1s 1 linear alternate forwards);
                svg {
                    top: 0;
                    bottom: 0;
                    left: 0;
                }
            }
            &.mask--head-2 {
                right: 0;
                @include animation(width100 0.7s 1 linear alternate forwards);
                svg {
                    top: 0;
                    bottom: 0;
                    right: 0;
                }
            }
            &.mask--tail {
                right: 0;
                @include animation(width100 0.5s 1 linear alternate forwards);
                svg {
                    top: 0;
                    bottom: 0;
                    right: 0;
                }
            }
            &.mask__action--1 {
                &.mask--head-1 {
                    @include animation-delay(500ms);
                }
                &.mask--head-2 {
                    @include animation-delay(1254ms);
                }
                &.mask--tail {
                    @include animation-delay(1515ms);
                }
            }
            &.mask__action--2 {
                &.mask--head-1 {
                    @include animation-delay(500ms);
                }
                &.mask--head-2 {
                    @include animation-delay(1245ms);
                }
                &.mask--tail {
                    @include animation-delay(1480ms);
                }
            }
            &.mask__action--3 {
                &.mask--head-1 {
                    @include animation-delay(500ms);
                }
                &.mask--head-2 {
                    @include animation-delay(1286ms);
                }
                &.mask--tail {
                    @include animation-delay(1472ms);
                }
            }
            &.mask__action--4 {
                &.mask--head-1 {
                    @include animation-delay(500ms);
                }
                &.mask--head-2 {
                    @include animation-delay(1294ms);
                }
                &.mask--tail {
                    @include animation-delay(1471ms);
                }
            }
            &.mask__action--5 {
                &.mask--head-1 {
                    @include animation-delay(500ms);
                }
                &.mask--head-2 {
                    @include animation-delay(1320ms);
                }
                &.mask--tail {
                    @include animation-delay(1570ms);
                }
            }
        }
    }
    .mask {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 0;
        overflow: hidden;
        svg {
            position: absolute;
            height: 100%;
        }
    }
    .main__text {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        @include opacity(0);
        @include animation(opacity 0.5s 2s 1 linear alternate forwards);
    }
    .main__line path {
        fill: white
    }
}

@include keyframes(width100) {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@include keyframes(opacity) {
    0% {
        @include opacity(0);
    }
    100% {
        @include opacity(1);
    }
}

@include keyframes(mask_group) {
    0% {
        @include opacity(0.8);
    }
    100% {
        @include opacity(0);
    }
}

.trend-group {
    .trend-item {
        border: 1px solid $gray-100;
        +.trend-item {
            margin-top: 20px;
        }
        &.has-speaker {
            @include breakpoint(1024px) {
                display: flex;
                align-items: center;
            }
            .trend-visual {
                padding-left: 15px;
                padding-right: 15px;
                @include breakpoint(1024px) {
                    width: 50%;
                    padding-left: 40px;
                    padding-right: 40px;
                }
            }
            .trend-essay p {
                @include breakpoint(max-width 1023px) {
                    display: none;
                    &.highlight {
                        display: block;
                    }
                }
            }
        }
        &:nth-child(odd) {
            @include breakpoint(1200px) {
                .trend-speaker {
                    padding-right: 100px;
                }
            }
        }
        &:nth-child(even) {
            flex-direction: row-reverse;
            @include breakpoint(1200px) {
                .trend-speaker {
                    padding-left: 100px;
                }
            }
        }
        &.active {
            .trend-visual::before {
                @include opacity(0.8);
            }
        }
    }
    .trend-visual {
        position: relative;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 15px;
        padding-right: 15px;
        color: $white;
        text-shadow: 1px 1px 0 $black;
        background-position: center;
        @include background-size(cover);
        @include breakpoint(1024px) {
            padding-top: 60px;
            padding-bottom: 60px;
            padding-left: 170px;
            padding-right: 170px;
        }
        &::before {
            @include beforeafter('',
            block);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $black;
            @include opacity(0.5);
            @include transition(opacity 0.3s);
        }
        >div {
            position: relative;
            z-index: 1;
        }
        .highlight {
            color: $yellow-dark;
        }
        .trend-expected {
            @include btn-outlined(1em 1.125em,
            $white,
            $white,
            0.15);
            margin-top: 20px;
            font-size: 1.125rem;
        }
        .trend-more {
            @include btn-outlined(0.56em 0.675em,
            $white,
            $white,
            0.15);
            margin-top: 20px;
            font-size: 1.125rem;
            text-decoration: underline;
            text-underline-position: under;
            @include breakpoint(1024px) {
                display: none;
            }
        }
    }
    .trend-speaker {
        padding-left: 15px;
        padding-right: 15px;
        @include breakpoint(max-width 1023px) {
            padding-top: 25px;
            padding-bottom: 25px;
        }
        @include breakpoint(1024px) {
            width: 50%;
            padding-left: 50px;
            padding-right: 50px;
        }
        .speaker-item {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-content: center;
            align-items: center;
            min-height: 90px;
            padding-left: 105px;
            @include breakpoint(1024px) {
                min-height: 100px;
                padding-left: 120px;
            }
            +.speaker-item {
                margin-top: 20px;
                @include breakpoint(1024px) {
                    margin-top: 30px;
                }
            }
        }
        .speaker-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 90px;
            border: 1px solid $gray-100;
            @include border-radius(50%);
            @include breakpoint(1024px) {
                width: 100px;
            }
        }
        .speaker-name,
        .speaker-title {
            width: 100%;
            span {
                display: inline-block;
            }
        }
        .speaker-name {
            @include breakpoint(max-width 1023px) {
                font-size: 1.125rem;
            }
        }
        .speaker-more {
            @include btn-outlined(0.5em 2.15em,
            $gray-200,
            $gray-200,
            0);
            margin-top: 1em;
            font-size: 0.875rem;
            display: none;
        }
    }
}

.agenda-group {
    .agenda-item {
        position: relative;
        @include list-reset(0,
        0 0 0 120px,
        none);
        +.agenda-item {
            padding-top: 60px;
        }
        &::before {
            @include beforeafter('',
            block);
            position: absolute;
            top: 15px;
            left: 85px;
            width: 1px;
            height: 100%;
            background-color: $yellow-darken;
        }
        li {
            position: relative;
            +li {
                margin-top: 60px;
            }
        }
        .day {
            position: absolute;
            top: 4px;
            left: -120px;
            color: $yellow-darken;
        }
        .agenda-topic {
            position: relative;
            margin-bottom: 1em;
            &::before {
                @include beforeafter('',
                block);
                position: absolute;
                top: 50%;
                left: -40px;
                width: 10px;
                height: 10px;
                margin-top: -5px;
                background-color: $yellow-darken;
                @include border-radius(50%);
            }
        }
        .agenda-speaker {
            position: relative;
            padding-left: 70px;
            +.agenda-speaker {
                margin-top: 20px;
            }
            .agenda-img {
                position: absolute;
                top: 0;
                left: 0;
                width: 50px;
                @include border-radius(50%);
            }
        }
    }
    .note {
        margin-top: 50px;
        padding-left: 86px;
        color: $gray-300;
    }
}

.register-group {
    position: relative;
    font-size: 0;
    @include breakpoint(1024px) {
        border: 1px solid $gray-100;
        &::before {
            @include beforeafter('',
            block);
            position: absolute;
            top: 0;
            left: 50%;
            width: 1px;
            height: 100%;
            background-color: $gray-100;
            @include translateX(-50%);
        }
    }
}

.register-column {
    font-size: 1rem;
    @include breakpoint(max-width 1023px) {
        border: 1px solid $gray-100;
        +.register-column {
            margin-top: 20px;
        }
    }
    @include breakpoint(1024px) {
        display: inline-block;
        width: 50%;
        vertical-align: text-top;
    }
    .register-title {
        font-size: 1.375rem;
        line-height: 2.25;
        text-align: center;
    }
    .register-head {
        padding-top: 40px;
        padding-bottom: 40px;
        text-align: center;
        .price--special {
            font-size: 2rem;
        }
        .price--origin {
            margin-bottom: 20px;
            color: $gray-300;
        }
    }
    .register-body {
        padding: 30px 25px;
        @include breakpoint(1024px) {
            padding: 30px 60px;
        }
        .version {
            margin-bottom: 10px;
            font-size: 1.125rem;
        }
        ul.detail {
            @include list-reset(0,
            0,
            none);
            font-size: 1.125rem;
            li {
                i.icon {
                    display: inline-block;
                    margin-right: 1rem;
                    line-height: 1.8;
                    vertical-align: middle;
                }
                &.none {
                    color: $gray-200;
                    i.icon {
                        color: $gray-200 !important;
                    }
                }
            }
        }
        ul.feature {
            @include list-reset(30px 0 0,
            30px 0 0 1.125em,
            disc);
            line-height: 1.75;
            border-top: 1px solid $gray-100;
        }
    }
    &.column-1 {
        .register-title {
            background-color: $yellow-darken;
        }
        .register-head {
            background-color: rgba($yellow-darken, 0.1);
            .price--special {
                color: $yellow-darken;
            }
            a.btn {
                @include btn-contained(0.9em 2.15em,
                $black,
                $yellow-darken,
                1);
                font-size: 1.125rem;
                &:hover {
                    background-color: darken($yellow-darken, 7.5%);
                }
                &.btn-disabled {
                    color: $gray-300;
                    background-color: $gray-100;
                    cursor: not-allowed;
                }
            }
        }
        .register-body {
            ul.detail {
                li {
                    i.icon {
                        color: $yellow-darken;
                    }
                }
            }
        }
    }
    &.column-2 {
        position: relative;
        .register-title {
            background-color: $yellow-dark;
        }
        .register-head {
            background-color: rgba($yellow-dark, 0.1);
            .price--special {
                color: $yellow-dark;
            }
            a.btn {
                @include btn-contained(0.9em 2.15em,
                $black,
                $yellow-dark,
                1);
                font-size: 1.125rem;
                &:hover {
                    background-color: darken($yellow-dark, 7.5%);
                }
            }
        }
        .register-body {
            ul.detail {
                li {
                    i.icon {
                        color: $yellow-dark;
                    }
                }
            }
        }
    }
}

.img-group {
    @include list-reset(0,
    0,
    none);
    font-size: 0;
    li {
        a {
            display: block;
            img {
                display: block;
            }
        }
    }
}

.sponsor-group {
    +.sponsor-group {
        margin-top: 30px;
    }
    .h2 {
        margin-bottom: 10px;
        font-size: 1.375rem;
    }
    .img-group {
        @include list-reset(0,
        0,
        none);
        font-size: 0;
        li {
            display: inline-block;
            vertical-align: middle;
            margin-right: 20px;
            margin-bottom: 20px;
            @include breakpoint(1024px) {
                width: 140px;
                &:last-child {
                    margin-right: 0;
                }
            }
            @include breakpoint(max-width 1023px) {
                width: calc(50% - 10px);
                margin-right: 20px;
                &:nth-child(2n) {
                    margin-right: 0;
                }
            }
        }
    }
}

.message {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden scroll;
    outline: 0;
    background-color: rgba($black, 0.5);
    z-index: 10;
    .message-wrap {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100% - 40px);
        max-width: 550px;
        min-height: calc(100% - (20px * 2));
        margin: 20px auto;
    }
    .message-container {
        position: relative;
        padding: 30px 20px 40px;
        background-color: $white;
        @include breakpoint(1024px) {
            padding: 30px 60px 40px;
        }
    }
    img.message-img {
        width: 120px;
        border-radius: 50%;
        display: block;
        margin: auto;
        @include breakpoint(1024px) {
            width: 150px;
        }
    }
    .message-close {
        position: absolute;
        display: block;
        top: 10px;
        right: 10px;
        font-size: 2em;
        line-height: 0;
        cursor: pointer;
    }
    .message-name,
    .message-essay {
        margin-top: 20px;
    }
}